.article-list {
  height: 100%;
  background: linear-gradient(
    to bottom,
    white,
    #cfd7ed,
    #d3d3d3,
    #cfc49b,
    white
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 50px;
}

.article-list-child {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: row;
}

.article-box {
  margin-bottom: 80px;
  border: 1px solid #ddd;
  padding: 20px;
  width: 700px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 0.85;
  margin-right: 20px;
  margin-left: 20px;
  box-sizing: border-box;
}

.article-box img {
  max-width: 100%;
  height: auto;
  display: block; /* To remove extra space below the image */
  margin: 0 auto; /* Center the image */
}

.article-box h2 {
  margin-bottom: 10px;
  text-align: center;
}

.article-box p {
  margin: 10;
  text-align: justify;
}
