.Sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: #cabfae;
    /* background-color: #040f25; */
    /* opacity: 0.9; */
    transition: left 0.7s;
    z-index: 1000;
    align-items: center;
    justify-items: center;
    font-family: "GloockRegular", "BelgianoSerif2", "DMSerifDisplayRegular",
      "DMSerifDisplayItalic", sans-serif;
    }

  .Sidebar.open {
    left: 0;
  }
  
  .Sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .Sidebar__header img {
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center
  }
  
  .Sidebar__header button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: -10px;
  }
  
  .Sidebar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .Sidebar__links a {
    color: #333;
    text-decoration: none;
    margin: 8px; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s, transform 0.3s;
  
    &:hover {
      color: #ffcc00;
      transform: scale(1.1);
    }
  }
  
  
  @media only screen and (max-width: 1200px) {
    .Sidebar.open {
      left: 0;
    }
  }
  